#Go
/bin
/moustique_server
/moustique_client
*.exe
#Java
/clients/java/target/
#Node
/clients/javascript/node_modules/
#Python
pycache
__pycache__/
*.pyc
#IDE
.idea
.vscode
*.swp
*.swo
#OS
.DS_Store
Thumbs.db
